/.idea/
/android/.idea
/.vscode/
/*.iml
.DS_Store

# CI related
/.cache/
/artifacts/

# Releasing related
/appcast/

# Development related
/my.*.vals.yaml
.env
devtools_options.yaml

# Flutter/Dart/Pub related
**/.dart_tool/
**/doc/api/
**/ios/Flutter/.last_build_id
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages
/.pub-cache/
/.pub/
/build/
/doc/
/tools/**/pubspec.lock

# Generation related
/lib/**/*.g.dart
/lib/api/backend/*.dart
/web/worker.dart.js

# Symbolication and obfuscation related
/debug/
/debug-*
app.*.map.json
app.*.symbols

# Android Studio will place build artifacts here
/android/app/build
/android/app/debug
/android/app/profile
/android/app/release

# Yarn/NPM dependencies
/node_modules/
/yarn-error.log

# Tests related
/test/.temp_cache/
/test/**/*.mocks.dart
/test/e2e/**/*.g.dart
/test/e2e/reports/
/test_driver/build/
/test_driver/report.json
