name: messenger
version: 0.1.0-alpha.9.2
publish_to: none

environment:
  flutter: ">=3.13.0"
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  animated_size_and_fade: ^3.0.0
  async: ^2.10.0
  back_button_interceptor: ^7.0.0
  callkeep: ^0.3.3
  collection: ^1.17.2
  crypto: ^3.0.3
  desktop_drop: ^0.4.1
  device_info_plus: ^9.0.2
  dio: ^5.1.2
  dough:
    git:
      url: https://github.com/krida2000/dough
      path: packages/dough/
  email_validator: ^2.1.17
  ffi: ^2.0.2
  file_picker: ^5.3.0
  fluent:
    git: https://github.com/sagudev/fluent-dart.git
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.5.0
  flutter_background_service: ^2.4.6
  flutter_background_service_android: ^3.0.3
  flutter_background_service_ios: ^2.4.0
  flutter_list_view:
    git: https://github.com/krida2000/flutter_list_view.git
  flutter_local_notifications: ^15.1.0+1
  flutter_spinkit: ^5.2.0
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^2.0.6
  flutter_web_plugins:
    sdk: flutter
  get: ^4.6.5
  graphql_flutter: ^5.1.2
  hive_flutter: ^1.1.0
  hive: ^2.2.3
  http: ^0.13.6
  http_parser: ^4.0.2
  image_gallery_saver: ^2.0.3
  image_picker:
    git:
      url: https://github.com/krida2000/image_picker.git
  intl: ^0.17.0
  js: ^0.6.5
  material_floating_search_bar: ^0.3.7
  medea_flutter_webrtc: 0.8.2
  medea_jason: ^0.4.0
  media_kit: ^1.1.5
  media_kit_libs_android_video: ^1.3.2
  media_kit_libs_ios_video: ^1.1.3
  media_kit_libs_linux: ^1.1.1
  media_kit_libs_macos_video: ^1.1.3
  media_kit_libs_windows_video: ^1.0.7
  media_kit_native_event_loop: ^1.0.7
  media_kit_video: ^1.1.6
  mime: ^1.0.4
  mutex: ^3.0.1
  open_file: ^3.3.2
  path: ^1.8.2
  path_provider: ^2.1.0
  path_provider_android: ^2.1.0
  permission_handler: ^10.2.0
  photo_view: ^0.14.0
  platform_detect: ^2.0.7
  rive: ^0.11.14
  scrollable_positioned_list:
    git:
      url: https://github.com/SleepySquash/scrollable_positioned_list
      path: packages/scrollable_positioned_list/
  sentry_flutter: ^7.9.0
  share_plus: ^7.0.0
  sliding_up_panel: ^2.0.0+1
  stdlibc: ^0.1.4
  toml: ^0.14.0
  universal_io: ^2.2.2
  url_launcher: ^6.1.12
  uuid: ^3.0.7
  vibration: ^1.8.1
  wakelock_plus: ^1.1.1
  web_socket_channel: ^2.4.0
  win32: ^5.0.6
  win_toast: ^0.3.0
  window_manager: ^0.3.5
  windows_taskbar: ^1.1.1

dev_dependencies:
  artemis: ^7.13.0-beta.2
  build: ^2.4.1
  build_runner: ^2.4.6
  dartdoc: ^6.3.0
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: ea59f6376f2d78e5b2140980e74879b862218ea1
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  http_mock_adapter: ^0.4.4
  integration_test:
    sdk: flutter
  gherkin: ^2.0.8
  hive_generator: ^2.0.0
  json_serializable: ^6.6.2
  mockito: ^5.4.2
  sentry_dart_plugin: ^1.2.0
  yaml: ^3.1.2

dependency_overrides:
  # TODO: Remove when `flutter_gherkin` updates.
  analyzer: ^6.2.0
  # TODO: Remove when hivedb/hive#1034 is fixed:
  #       https://github.com/hivedb/hive/issues/1034
  hive:
    git:
      url: https://github.com/krida2000/git-hive.git
  # TODO: Remove when comigor/artemis#417 is fixed:
  #       https://github.com/comigor/artemis/issues/417
  http: ^1.1.0
  # TODO: Remove when `sentry_flutter` updates.
  package_info_plus: ^4.0.0
  # TODO: Remove when: rive-app/rive-flutter#340 is fixed:
  #       https://github.com/rive-app/rive-flutter/issues/340
  rive_common:
    git:
      url: https://github.com/SleepySquash/rive_common_to_fix_cpp_issue.git
      ref: d9ee97afae0088b3b9f96f38a8ecd1d5dc893df5

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/conf.toml
    - assets/fonts/
    - assets/icons/
    - assets/icons/notification/
    - assets/images/
    - assets/images/logo/
    - assets/l10n/
  fonts:
    - family: SFUI
      fonts:
        - asset: assets/fonts/SFUIDisplay-Regular.ttf
          weight: 400
        - asset: assets/fonts/SFUIDisplay-Light.ttf
          weight: 300
        - asset: assets/fonts/SFUIDisplay-Bold.ttf
          weight: 700

sentry:
  upload_native_symbols: true
  upload_source_maps: true
  include_native_sources: true
  wait_for_processing: true
