name: messenger
version: 0.1.0-alpha.8
publish_to: none

environment:
  flutter: ">=3.7.0"
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  animated_size_and_fade: ^3.0.0
  async: ^2.10.0
  audioplayers: ^3.0.0
  back_button_interceptor: ^6.0.2
  badges: ^3.0.2
  callkeep: ^0.3.3
  carousel_slider: ^4.2.1
  chewie: ^1.4.0
  collection: ^1.17.0
  crypto: ^3.0.2
  desktop_drop: ^0.4.0
  dio: ^4.0.6
  dough:
    git:
      url: https://github.com/krida2000/dough
      path: packages/dough/
  email_validator: ^2.1.17
  file_picker: ^5.0.1
  fluent:
    git: https://github.com/sagudev/fluent-dart.git
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.5.0
  flutter_background_service: ^2.4.6
  flutter_background_service_android: ^3.0.3
  flutter_background_service_ios: ^2.4.0
  flutter_list_view:
    git: https://github.com/krida2000/flutter_list_view.git
  flutter_local_notifications: ^13.0.0
  flutter_spinkit: ^5.1.0
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^2.0.0-dev.2
  flutter_web_plugins:
    sdk: flutter
  get: ^4.6.5
  graphql_flutter: ^5.1.2
  hive_flutter: ^1.1.0
  hive: ^2.2.3
  http: ^0.13.5
  http_parser: ^4.0.2
  image_gallery_saver: ^1.7.1
  image_picker:
    git:
      url: https://github.com/krida2000/image_picker.git
  intl: ^0.17.0
  js: ^0.6.5
  loading_indicator: ^3.1.0
  material_floating_search_bar: ^0.3.7
  medea_flutter_webrtc: 0.8.0-dev+rev.d1fa5bf748084feb988aa858487411164de58b7b
  medea_jason: 0.3.0-dev+rev.4482bbca0f6ff09cdfcb1e9c791fde67ef1eedc2
  mime: ^1.0.4
  mutex: ^3.0.1
  # TODO: Switch to pub.dev version when the following pull request is merged
  #       into it:
  #       https://github.com/crazecoder/open_file/pull/205
  open_file:
    git:
      url: https://github.com/adaptolearning/open_file
  path: ^1.8.2
  path_provider: ^2.0.12
  path_provider_android: ^2.0.22
  permission_handler: ^10.2.0
  photo_view: ^0.14.0
  platform_detect: ^2.0.7
  rive: ^0.10.1
  scrollable_positioned_list:
    git:
      url: https://github.com/SleepySquash/scrollable_positioned_list
      path: packages/scrollable_positioned_list/
  sentry_flutter: ^6.19.0
  share_plus: ^6.3.0
  sliding_up_panel: ^2.0.0+1
  toml: ^0.13.1
  universal_io: ^2.0.4
  uuid: ^3.0.7
  vibration: ^1.7.6
  video_player: ^2.5.1
  wakelock: ^0.6.2
  web_socket_channel: ^2.2.0
  window_manager: ^0.3.0
  windows_taskbar: ^1.1.1

dev_dependencies:
  artemis: ^7.11.0-beta.1
  build: ^2.3.1
  build_runner: ^2.3.3
  dartdoc: ^6.1.5
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: ea59f6376f2d78e5b2140980e74879b862218ea1
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  gherkin: ^2.0.8
  hive_generator: ^2.0.0
  json_serializable: ^6.6.0
  mockito: ^5.3.2
  sentry_dart_plugin: ^1.0.0-beta.5
  yaml: ^3.1.1

dependency_overrides:
  # TODO: Remove when `flutter_gherkin` updates.
  analyzer: ^5.4.0
  # TODO: Remove when `medea_jason` updates.
  medea_flutter_webrtc: 0.8.0-dev+rev.d1fa5bf748084feb988aa858487411164de58b7b

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/conf.toml
    - assets/fonts/
    - assets/icons/
    - assets/icons/notification/
    - assets/images/
    - assets/images/logo/
    - assets/l10n/
  fonts:
    - family: SFUI
      fonts:
        - asset: assets/fonts/SFUIDisplay-Regular.ttf
          weight: 400
        - asset: assets/fonts/SFUIDisplay-Light.ttf
          weight: 300
        - asset: assets/fonts/SFUIDisplay-Bold.ttf
          weight: 700

sentry:
  upload_native_symbols: true
  upload_source_maps: true
  include_native_sources: true
  wait_for_processing: true
