name: messenger
version: 0.1.0-alpha.7
publish_to: none

environment:
  flutter: ">=3.3.0"
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  animated_size_and_fade: ^3.0.0
  async: ^2.8.2
  audioplayers: ^1.0.1
  back_button_interceptor: ^6.0.1
  badges: ^2.0.3
  callkeep: ^0.3.2
  carousel_slider: ^4.1.1
  chewie: ^1.3.4
  collection: ^1.16.0
  crypto: ^3.0.2
  desktop_drop: ^0.3.3
  dio: ^4.0.6
  dough:
    git:
      url: https://github.com/krida2000/dough
      path: packages/dough/
  email_validator: ^2.1.17
  expandable: ^5.0.1
  file_picker: ^5.0.1
  fluent:
    git: https://github.com/sagudev/fluent-dart.git
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.4.0
  flutter_background_service: ^2.1.3
  flutter_background_service_android: ^2.0.3
  flutter_background_service_ios: ^2.1.0
  flutter_list_view:
    git: https://github.com/krida2000/flutter_list_view.git
  flutter_local_notifications: ^10.0.0-dev.21
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^1.1.4
  flutter_web_plugins:
    sdk: flutter
  font_awesome_flutter: ^10.1.0
  get: ^4.6.5
  google_fonts: ^3.0.1
  graphql_flutter: ^5.1.1-beta.4
  hive_flutter: ^1.1.0
  hive: ^2.2.3
  http: ^0.13.5
  http_parser: ^4.0.0
  image_gallery_saver: ^1.7.1
  image_picker:
    git:
      url: https://github.com/krida2000/image_picker.git
  intl: ^0.17.0
  js: ^0.6.5
  material_floating_search_bar: ^0.3.7
  medea_flutter_webrtc: 0.8.0-dev+rev.39f8181e33a20db445d16c1bfedd7d337a777fe3
  medea_jason: 0.3.0-dev+rev.5a333a88111679ea49dad035de709e7c0e037c1f
  mime: ^1.0.2
  mutex: ^3.0.0
  # TODO: Switch to pub.dev version when the following pull request is merged
  #       into it:
  #       https://github.com/crazecoder/open_file/pull/205
  open_file:
    git:
      url: https://github.com/adaptolearning/open_file
  path: ^1.8.1
  path_provider: ^2.0.11
  path_provider_android: ^2.0.20
  path_provider_ios: ^2.0.11
  permission_handler: ^9.2.0
  phone_numbers_parser: ^7.0.0
  photo_view: ^0.14.0
  platform_detect: ^2.0.7
  rive: ^0.9.1
  sentry_flutter: ^6.9.1
  share_plus: ^4.0.10+1
  sliding_up_panel: ^2.0.0+1
  toml: ^0.13.1
  universal_io: ^2.0.4
  uuid: ^3.0.6
  vibration: ^1.7.6
  video_player: ^2.4.7
  wakelock: ^0.6.2
  web_socket_channel: ^2.2.0
  window_manager: ^0.2.7

dev_dependencies:
  artemis: ^7.9.0-beta
  build: ^2.3.0
  build_runner: ^2.2.0
  dartdoc: ^6.0.1
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: integration_test__package_support
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  gherkin: ^2.0.8
  hive_generator: ^1.1.3
  json_serializable: ^6.3.1
  mockito: 5.2.0
  sentry_dart_plugin: ^1.0.0-beta.2
  yaml: ^3.1.0

dependency_overrides:
  # TODO: Remove when `flutter_gherkin` updates.
  analyzer: ^4.6.0
  # TODO: Remove when `flutter_web_plugins` updates.
  js: ^0.6.5

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/conf.toml
    - assets/fonts/
    - assets/icons/
    - assets/images/
    - assets/images/logo/
    - assets/l10n/

sentry:
  upload_native_symbols: true
  upload_source_maps: true
  include_native_sources: true
  wait_for_processing: true
