name: messenger
version: 0.1.0-alpha.13-preview
publish_to: none

environment:
  flutter: ">=3.19.0"
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  all_sensors: ^0.4.2
  animated_size_and_fade: ^3.0.0
  async: ^2.10.0
  back_button_interceptor: ^7.0.0
  flutter_callkit_incoming:
  collection: ^1.17.2
  crypto: ^3.0.3
  desktop_drop: ^0.4.1
  device_info_plus: ^9.0.2
  dio: ^5.1.2
  dough:
    git:
      url: https://github.com/krida2000/dough
      path: packages/dough/
  email_validator: ^2.1.17
  ffi: ^2.0.2
  file_picker: ^6.1.1
  firebase_auth: ^4.17.9
  firebase_core: ^2.27.1
  firebase_messaging: ^14.7.20
  google_sign_in: 6.1.6 # TODO: Updating to `6.2.1` bumps up macOS from 10.14 to 10.15
  fluent:
    git: https://github.com/sagudev/fluent-dart.git
  flutter:
    sdk: flutter
  flutter_app_badger: ^1.5.0
  flutter_background_service: ^2.4.6
  flutter_background_service_android: ^3.0.3
  flutter_background_service_ios: ^2.4.0
  flutter_custom_cursor: ^0.0.4
  flutter_list_view:
    git: https://github.com/krida2000/flutter_list_view.git
  flutter_local_notifications: ^16.1.0
  flutter_markdown: ^0.6.21
  flutter_slidable: ^3.0.1
  flutter_spinkit: ^5.2.0
  flutter_staggered_animations: ^1.1.1
  flutter_svg: ^2.0.6
  pasteboard: ^0.2.0
  flutter_thumbhash: ^0.1.0+1
  flutter_web_plugins:
    sdk: flutter
  get: ^4.6.5
  graphql_flutter: ^5.2.0-beta.6
  hive_flutter: ^1.1.0
  hive: ^2.2.3
  http: ^0.13.6
  http_parser: ^4.0.2
  image_gallery_saver: ^2.0.3
  image_picker:
    git:
      url: https://github.com/krida2000/image_picker.git
  intl: ^0.18.0
  js: ^0.6.5
  log_me: ^0.1.2
  material_floating_search_bar: ^0.3.7
  medea_flutter_webrtc: 0.10.0-dev+rev.56483212e465ddaaee4593a4e4b7cc828e3faeb3
  medea_jason: 0.5.0-dev+rev.d615057ffe2c7031112c3047c1a11b4edc6c2454
  media_kit: ^1.1.5
  media_kit_libs_android_video: ^1.3.2
  media_kit_libs_ios_video: ^1.1.3
  media_kit_libs_linux: ^1.1.1
  media_kit_libs_macos_video: ^1.1.3
  media_kit_libs_windows_video: ^1.0.7
  media_kit_native_event_loop: ^1.0.7
  media_kit_video: ^1.1.6
  mime: ^1.0.4
  mutex: ^3.0.1
  open_file: ^3.3.2
  path: ^1.8.2
  path_provider: ^2.1.0
  path_provider_android: ^2.1.0
  permission_handler: ^11.3.0
  photo_view: ^0.14.0
  platform_detect: ^2.0.7
  scrollable_positioned_list:
    git:
      url: https://github.com/SleepySquash/scrollable_positioned_list
      path: packages/scrollable_positioned_list/
  sentry_flutter: ^7.18.0
  share_plus: ^7.0.0
  shared_preferences: ^2.0.18
  sliding_up_panel: ^2.0.0+1
  sound_fonts: ^0.1.1
  qr_flutter: ^4.1.0
  stdlibc: ^0.1.4
  toml: ^0.15.0
  universal_io: ^2.2.2
  url_launcher: ^6.1.12
  uuid: ^4.3.3
  vibration: ^1.8.1
  wakelock_plus: ^1.1.4
  web_socket_channel: ^2.4.0
  win_toast: ^0.3.0
  win32: ^5.0.6
  window_manager: ^0.3.5
  windows_taskbar: ^1.1.1
  sticky_headers: ^0.3.0+2
  loading_indicator: ^3.1.0
  bot_toast: ^4.0.3
  loading_animation_widget: ^1.2.0+4
  skeletons: ^0.0.3
  shimmer: ^2.0.0
  webview_flutter_web: ^0.2.2+1
  webview_flutter: ^4.0.5
  phone_form_field: ^8.1.0
  country_picker:
    git:
      url: https://github.com/SleepySquash/flutter_country_picker
  mobile_scanner: ^3.4.1
  pdfx: ^2.4.0
  flag:
  expandable_text: ^2.3.0
  syncfusion_flutter_sliders: ^24.1.43
  flutter_xlider: ^3.5.0
  audio_session: ^0.1.18
  just_audio: ^0.9.36
  # proximity_screen_lock: ^1.1.0
  # flutter_to_airplay: ^2.0.4
  app_links: ^3.5.0
  win32_registry: ^1.1.2
  flutter_animate: ^4.4.1
  # app_links: ^3.5.0
  # audioplayers_android: ^4.0.3
  # audioplayers_platform_interface: ^6.1.0
  # audioplayers_darwin: ^5.0.2
  xml: ^6.5.0
  decimal: ^2.3.3

dev_dependencies:
  artemis: ^7.13.1
  build: ^2.4.1
  build_runner: ^2.4.6
  dartdoc: ^7.0.2
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: ea59f6376f2d78e5b2140980e74879b862218ea1
  flutter_lints: ^3.0.1
  flutter_test:
    sdk: flutter
  http_mock_adapter: ^0.6.0
  integration_test:
    sdk: flutter
  gherkin: ^2.0.8
  hive_generator: ^2.0.0
  json_serializable: ^6.6.2
  mockito: ^5.4.2
  sentry_dart_plugin: ^1.2.0
  yaml: ^3.1.2

dependency_overrides:
  # TODO: Remove when `flutter_gherkin` updates.
  analyzer: ^6.2.0
  # TODO: Remove when `artemis` updates.
  gql: ^1.0.0
  # TODO: Remove when `artemis` updates.
  gql_exec: ^1.0.0
  # TODO: Remove when `artemis` updates.
  gql_http_link: ^1.0.0
  # TODO: Remove when `artemis` updates.
  gql_link: ^1.0.0
  # TODO: Remove when hivedb/hive#1034 is fixed:
  #       https://github.com/hivedb/hive/issues/1034
  hive:
    git:
      url: https://github.com/krida2000/git-hive.git
  # TODO: Remove when `artemis` updates.
  http: ^1.1.0
  # TODO: Remove when `sentry_flutter` updates.
  package_info_plus: ^4.0.0
  intl: ^0.18.0
  phone_form_field:
    git:
      url: https://github.com/SleepySquash/phone_form_field
      ref: dev
  # TODO: Remove when `medea_jason` updates.
  medea_flutter_webrtc: 0.10.0-dev+rev.56483212e465ddaaee4593a4e4b7cc828e3faeb3
  # TODO: Remove when `medea_jason` updates.
  uuid: ^4.3.3

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/conf.toml
    - assets/fonts/
    - assets/icons/
    - assets/icons/application/
    - assets/icons/notification/
    - assets/images/
    - assets/images/logo/
    - assets/l10n/
    - assets/images/media_buttons/
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Bold.ttf
          weight: 700
        - asset: assets/fonts/Roboto-Gapopa-Regular.ttf
          weight: 400

sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  upload_sources: true
  wait_for_processing: true
  ignore_missing: true
