name: messenger
version: 0.1.0-alpha.5
publish_to: none

environment:
  flutter: ">=3.0.0"
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  animated_size_and_fade: ^3.0.0
  async: ^2.8.2
  audioplayers: ^1.0.1
  back_button_interceptor: ^6.0.1
  badges: ^2.0.2
  callkeep: ^0.3.2
  carousel_slider: ^4.1.1
  chewie: ^1.3.2
  collection: ^1.16.0
  desktop_drop: ^0.3.3
  desktop_multi_window:
    git:
      url: https://github.com/krida2000/desktop_multi_window
  dio: ^4.0.6
  dough:
    git:
      url: https://github.com/krida2000/dough
      path: packages/dough/
  email_validator: ^2.0.1
  expandable: ^5.0.1
  file_picker: ^5.0.0
  fluent:
    git: https://github.com/sagudev/fluent-dart.git
  flutter:
    sdk: flutter
  flutter_background_service: ^2.0.0
  flutter_background_service_android: ^2.0.0
  flutter_background_service_ios: ^2.0.0
  flutter_list_view: ^1.1.12
  flutter_local_notifications: ^10.0.0-dev.13
  flutter_svg: ^1.0.3
  flutter_web_plugins:
    sdk: flutter
  font_awesome_flutter: ^10.1.0
  get: ^4.6.3
  google_fonts: ^2.3.2
  graphql_flutter: ^5.1.1-beta.3
  hive_flutter: ^1.1.0
  hive: ^2.1.0
  http: ^0.13.4
  http_parser: ^4.0.0
  image_picker:
    git:
      url: https://github.com/krida2000/image_picker.git
  intl: ^0.17.0
  js: ^0.6.4
  material_floating_search_bar: ^0.3.7
  medea_flutter_webrtc: ^0.8.0-dev+rev.fe4d3b9cd21a390870d5390393300371fe5f1bb2
  medea_jason:
    git:
      url: https://github.com/instrumentisto/medea-jason.git
      path: flutter/
  mime: ^1.0.2
  mutex: ^3.0.0
  path_provider: ^2.0.10
  path_provider_android: ^2.0.14
  path_provider_ios: ^2.0.9
  permission_handler: ^9.2.0
  phone_numbers_parser: ^5.0.3
  # TODO: Switch to pub.dev version when the following commit is merged into it:
  #       https://github.com/bluefireteam/photo_view/commit/23063d535909027b8e198c2cffa83bf8f0480c96
  photo_view:
    git:
      url: https://github.com/bluefireteam/photo_view.git
      ref: master
  platform_detect: ^2.0.3
  rive: ^0.9.0
  sentry_flutter: ^6.5.1
  share_plus: ^4.0.9
  sliding_up_panel: ^2.0.0+1
  toml: ^0.13.1
  universal_io: ^2.0.4
  uuid: ^3.0.6
  vibration: ^1.7.4-nullsafety.0
  video_player: ^2.4.2
  visibility_detector: ^0.3.3
  web_socket_channel: ^2.2.0
  window_manager: ^0.2.3

dev_dependencies:
  artemis: ^7.7.0-beta
  build: ^2.3.0
  build_runner: ^2.1.10
  dartdoc: ^5.0.1
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: integration_test__package_support
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  gherkin: ^2.0.8
  hive_generator: ^1.1.2
  json_serializable: ^6.2.0
  mockito: ^5.1.0
  network_image_mock: ^2.1.0
  sentry_dart_plugin: ^1.0.0-beta.2
  yaml: ^3.1.0

dependency_overrides:
  # TODO: Remove when `flutter_gherkin` updates.
  analyzer: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/conf.toml
    - assets/fonts/
    - assets/icons/
    - assets/images/
    - assets/images/logo/
    - assets/l10n/

sentry:
  upload_native_symbols: true
  upload_source_maps: true
  include_native_sources: true
  wait_for_processing: true
