[mode]
debug = true

[instance]
name = "backend"

[db.cockroachdb.pool.background]
total = 30
[db.cockroachdb.pool.client]
total = 30

[push]
files_url = "http://localhost/files"
[push.fcm]
sender_id = 985927661367

[l10n.fluent]
locales = ["en-US", "ru-RU"]
[l10n.fluent.refresh]
url = "https://raw.githubusercontent.com/tapopa/messenger/14628ecf84fc85105fb6b692a861d70384e0b1cc/assets/l10n"

[smtp]
port = 1025
user = "robot"
pass = "test"
[smtp.tls]
verify_cert = false
verify_host = false

[media_server.medea.server.client.http]
bind_port = 8090
[media_server.medea.ice.embedded]
min_relay_port = 49160
max_relay_port = 49200

[background.event_handler.init_call]
period = "300ms"
[background.event_handler.invalidate_chat_counts]
period = "500ms"
[background.event_handler.send_chat_push_notification]
timeout = "30s" # FCM API can be slow
[background.event_handler.sync_call_room]
period = "300ms"
[background.event_handler.transcode_image_set]
timeout = "5m"
batch_size = 8
[background.event_handler.update_chat_last_item]
period = "500ms"
[background.event_handler.update_chat_ongoing_call]
period = "300ms"
[background.event_handler.update_online_state]
period = "300ms"
[background.event_handler.update_typing_heartbeat]
period = "500ms"

[background.heartbeat.instance]
period = "1s"
[background.heartbeat.media_server]
period = "1s"

[background.poll.chat_events]
period = "500ms"
timeout = "500ms"
[background.poll.chat_typings]
period = "300ms"
timeout = "300ms"
[background.poll.incoming_calls_events]
period = "300ms"
timeout = "300ms"
[background.poll.unread_chats_count_by_user_id]
batch_size = 100
partition_size = 100

[background.watchdog.call_participations]
timeout = "3s"
stale_timeout = "24s" # 20s (instance restart time) + 3s (watchdog) + 1s (poller)
[background.watchdog.call_room_members]
period = "300ms"
timeout = "3s"
stale_timeout = "24s" # 20s (instance restart time) + 3s (watchdog) + 1s (poller)
[background.watchdog.chat_typings]
period = "500ms"
stale_timeout = "3s"
[background.watchdog.refresh_vault_auth]
period = "10m"
stale_timeout = "1d"
