<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_LjDDMri8_1oPeO-nZO4MLRF7GMn3XwM</string>
	<key>GCM_SENDER_ID</key>
	<string>723667866817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team113.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-voip</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-voip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723667866817:ios:87d105dfb58bf9ccdf3040</string>
</dict>
</plist>