[conf]
# Indicator whether remote configuration should be respected, if available.
#
# Default:
#   remote = true

[server.http]
# URL address of HTTP backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
#   url = "http://localhost"

# Port of HTTP backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
#   port = 80

# GraphQL API endpoint of HTTP backend server.
#
# Default:
#   graphql = "/api/graphql"

[server.ws]
# URL address of WebSocket backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
#   url = "ws://localhost"

# Port of WebSocket backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
#   port = 80

[files]
# URL address of file storage server.
#
# Default:
#   url = "http://localhost/files"

[sentry]
# Sentry DSN (Data Source Name) to send events to.
#
# Default:
#   dsn = ""

[downloads]
# Directory to download files to.
#
# Should start with a leading `/`, if any directory is specified.
#
# Unused for Web, as browser picks the directory itself.
#
# Default:
#   directory = ""

[fcm]
# Key required to get FCM token on Web.
#
# Unused for Web only.
#
# Default:
#   vapidKey = "BGYb_L78Y9C-X8Egon75EL8aci2K2UqRb850ibVpC51TXjmnapW9FoQqZ6Ru9rz5IcBAMwBIgjhBi-wn7jAMZC0"
