[conf]
# Indicator whether remote configuration should be respected, if available.
#
# Default:
  remote = false

[server.http]
# URL address of HTTP backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
  url = "https://messenger.soc.stg.t11913.org"

# Port of HTTP backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
   port = 443

# GraphQL API endpoint of HTTP backend server.
#
# Default:
   graphql = "/api/graphql"

[server.ws]
# URL address of WebSocket backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
   url = "wss://messenger.soc.stg.t11913.org"

# Port of WebSocket backend server.
#
# Unused for web, browser location is used instead.
#
# Default:
   port = 443

[files]
# URL address of file storage server.
#
# Default:
   url = "https://messenger.soc.stg.t11913.org/files"

[sentry]
# Sentry DSN (Data Source Name) to send events to.
#
# Default:
   dsn = ""

[downloads]
# Directory to download files to.
#
# Should start with a leading `/`, if any directory is specified.
#
# Unused for Web, as browser picks the directory itself.
#
# Default:
   directory = ""

[user.agent]
# Product identifier of `User-Agent` header to put in network queries.
#
# Unused for Web, as browser picks the `User-Agent` itself.
#
# Default:
   product = "Gapopa"

# Product version of `User-Agent` header to put in network queries.
#
# If an empty string is passed, then the default value is used.
#
# Unused for Web, as browser picks the `User-Agent` itself.
#
# Default:
   version = "$(git describe --tags --dirty)"

[windows]
# Unique identifier of Windows application.
#
# Default:
   clsid = "00000000-0000-0000-0000-000000000000"
